<% @fluid_layout = true %>
<% @pagetitle = "Earning/Spending" %>

<% if !@headers.empty? %>
  <table id="earning_spending" class="table table-condensed">
  <thead><tr><th>Account<input id="account_filter" /></th><% @headers.each do |k, v| %>
    <th><%= k %><input type="checkbox" class="column_filter" id="col_<%= v %>" /></th>
  <% end %></tr></thead>
  <tbody>
  <% @accounts.each do |account| %>
    <tr class="account"><td class="account_name"><%= account[:name] %></td><% @headers.each.each do |k, v| %>
      <td class="money col_<%= v %> <%= 'empty' if account[v] == 0 %>"><%= account[v].to_money unless account[v] == 0 %></td>
    <% end %></tr>
  <% end%>
  </tbody></table>
<% else %>
  <p>This report isn't ready yet, because no entries have been entered.</p>
<% end %>

<script type="text/javascript">
t = 0;
f = $("#account_filter");
cf = $(".column_filter");
tr = $("tr.account");
$(document).ready(function() {
  f.keypress(function() {
   if (t) {
     clearTimeout(t);
   } 
   t = setTimeout(filter_accounts, 400);
  });
  cf.click(function() {
    filter_accounts();   
  });
});

function filter_accounts() {
  var v = f.val().toLowerCase();
  tr.removeClass("hide");
  cf.filter(":checked").each(function() {
    $("td." + $(this).attr("id")).filter("td.empty").parent().addClass("hide");
  });
  tr.filter(function() {
    return $(this).children('td.account_name').html().toLowerCase().indexOf(v) == -1;
  }).addClass("hide");
  tr.filter(function() {
    return !$(this).hasClass("hide");
  }).show();
  tr.filter('tr.hide').hide();
}
</script>
