<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SPAM<%= ":#{session['user_name']}" if session['user_name'] %><%= " - #{@pagetitle || (@autoforme_action.title if @autoforme_action)}" if @pagetitle || @autoforme_action %></title>
<link rel="shortcut icon" href="/favicon.ico" />
<%== assets(:css) %>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" id="toggle-nav" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><acronym title="Simple Personal Accounting Manager">SPAM</acronym><%= ":#{session['user_name']}" if session['user_name'] %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if session['user_id'] %>
        <ul class="nav navbar-nav">
          <% if @navigation_accounts && !@navigation_accounts.empty? %>
            <li class="dropdown" id="dropdown-register">
              <details>
                <summary>Registers</summary>
                <ul class="dropdown-menu" id="nav-register">
                  <% @navigation_accounts.each do |account| %>
                    <li><a href="/update/register/<%= account.id %>"><%= account.name %></a></li>
                  <% end %>
                </ul>
              </details>
            </li>

            <li class="dropdown" id="dropdown-reconcile">
              <details>
                <summary>Reconcile</summary>
                <ul class="dropdown-menu" id="nav-reconcile">
                <% @navigation_accounts.each do |account| %>
                  <li><a href="/update/reconcile/<%= account.id %>"><%= account.name %></a></li>
                <% end %>
              </ul>
              </details>
            </li>
        <% end %>

          <li class="dropdown">
            <details>
              <summary>Reports</summary>
              <ul class="dropdown-menu">
                <li><a href="/reports/balance_sheet">Balance Sheet</a></li>
                <li><a href="/reports/income_expense">Income/Expense</a></li>
                <li><a href="/reports/net_worth">Net Worth</a></li>
                <li><a href="/reports/earning_spending">By Account By Month</a></li>
                <li><a href="/reports/yearly_earning_spending">By Account By Year</a></li>
                <li><a href="/reports/earning_spending_by_entity">By Entity By Month</a></li>
                <li><a href="/reports/yearly_earning_spending_by_entity">By Entity By Year</a></li>
              </ul>
            </details>
          </li>

          <li class="dropdown">
            <details>
              <summary>Admin</summary>
              <ul class="dropdown-menu">
                <li><a href="/Account/browse">Manage Accounts</a></li>
                <li><a href="/Entity/browse">Manage Entities</a></li>
                <li><a href="/Entry/browse">Manage Entries</a></li>
                <% unless subuser? %>
                  <% if !ENV['SPAM_DEMO'] %>
                    <li><a href="/change-password">Change Password</a></li>
                  <% end %>
                  <li><a href="/create-subuser">Create User</a></li>
                <% end %>
              </ul>
            </details>
          </li>
        </ul>
      <% end %>
    </div>

    <% if session['user_id'] %>
      <form action="/logout" method="post" class="navbar-form pull-right">
        <%== csrf_tag("/logout") %>
        <input type="submit" value="Logout" class="btn btn-warning form-control">
      </form>
    <% end %>
  </div>
</nav>

<div class="container<%= '-fluid' if @fluid_layout %>" id="content">
  <% if flash["notice"] %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= flash["notice"] %>
    </div>
  <% end %>
  <% if flash["error"] %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= flash["error"] %>
    </div>
  <% end %>
  <% unless @no_heading %>
    <h1><%= @pagetitle %></h1>
  <% end %>
  <%== yield %>
</div>

<%== assets(:js) %>
</body>
</html>
