<td><%= entry.date %></td>
<td><%= entry.reference %></td>
<td><%=h(entry.entity.name) if entry.entity %></td>
<td><%= entry.other_account.name %></td>
<td><%= entry.memo %></td>
<td><%= entry.cleared ? 'R' : nil %></td>
<td class="money"><%= entry.money_amount %></td>
<td class="money"><%= @account.money_balance %> <% @account[:balance] -= entry.amount %></td>
<td><%= link_to("Modify", "/update/modify_entry/#{entry.id}?register_account_id=#{@account.id}", :onclick=>"new Ajax.Request('/update/modify_entry/#{entry.id}?selected_entry_id=' + $('selected_entry_id').value + '&amp;register_account_id=#{@account.id}', {asynchronous:true, evalScripts:true}); return false;") %></td>
