<% @pagetitle = "#{@account.name} Register" %>
<h3 id="results">Showing <%= @show_num_entries == -1 ? 'All' : "#{@show_num_entries} Most Recent" %> Entries</h3>
<%= form_remote_tag :url=>{:action=>"add_entry"} %>
<%= hidden_field_tag('selected_entry_id', @entry_id) %>
<%= hidden_field_tag('register_account_id', @account.id) %>
<table id="register">
<thead><tr><th>Date</th><th>Num</th><th>Entity</th><th>Other Account</th><th>Memo</th><th><abbr title="Cleared">C</abbr></th><th>Amount</th><th>Balance</th><th>Modify</th></tr></thead>
<tbody>
<tr id="new_entry"><%= render(:partial=>"#{@entry ? 'blank' : 'new'}_register_entry.html.erb") %></tr>
<% @account.entries(@show_num_entries).each do |entry| -%>
  <tr id="entry_<%= entry.id %>"><%= render(:partial=>"#{'modify_' if @entry && entry.id == @entry.id}register_entry.html.erb" , :locals=>{:entry=>entry}) %></tr>
<% end %>
</tbody></table>
</form>
<script type="text/javascript">
<%= entity_autocompleter_and_focus %>
</script>
<%= link_to('Show 100', :action=>'register', :id=>@account.id, :show=>100) if @show_num_entries != 100 %>
