<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SPAM<%= " - #{@pagetitle || (@autoforme_action.title if @autoforme_action)}" if @pagetitle || @autoforme_action %></title>
<link rel="shortcut icon" href="/favicon.ico" />
<%= stylesheet_link_tag 'scaffold_associations_tree' %>
<%= stylesheet_link_tag 'jquery.autocomplete' %>
<%= stylesheet_link_tag 'bootstrap.min' %>
<%= stylesheet_link_tag 'spam' %>
<%= javascript_include_tag 'jquery.min' %>
<%= javascript_include_tag 'bootstrap-dropdown' %>
<%= javascript_include_tag 'jquery.autocomplete' %>
<%= javascript_include_tag 'autoforme' %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'scaffold_associations_tree' %>
</head>

<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand"><acronym title="Simple Personal Accounting Manager">SPAM</acronym></a>

      <% if session[:user_id] %>
        <% unless @navigation_accounts.empty? %>
          <ul class="nav" id="nav-register">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registers<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% @navigation_accounts.each do |account| -%>
                  <li><a href="/update/register/<%= account.id %>"><%=h account.name %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>

          <ul class="nav" id="nav-reconcile">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reconcile<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% @navigation_accounts.each do |account| -%>
                  <li><a href="/update/reconcile/<%= account.id %>"><%=h account.name %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        <% end %>

        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/reports/balance_sheet">Balance Sheet</a></li>
              <li><a href="/reports/income_expense">Income/Expense</a></li>
              <li><a href="/reports/net_worth">Net Worth</a></li>
              <li class="dropdown-menu-sub">Earning/Spending Reports<ul>
                <li><a href="/reports/earning_spending">By Account By Month</a></li>
                <li><a href="/reports/yearly_earning_spending">By Account By Year</a></li>
                <li><a href="/reports/earning_spending_by_entity">By Entity By Month</a></li>
                <li><a href="/reports/yearly_earning_spending_by_entity">By Entity By Year</a></li>
              </ul></li>
            </ul>
          </li>
        </ul>

        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/Account/browse">Manage Accounts</a></li>
              <li><a href="/Entity/browse">Manage Entities</a></li>
              <li><a href="/Entry/browse">Manage Entries</a></li>
              <li><a href="/login/change_password">Change Password</a></li>
            </ul>
          </li>
        </ul>

        <%= raw button_to('Logout', {:controller=>'login', :action=>'logout'}, :class=>'btn btn-warning pull-right')  %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container<%= '-fluid' if @fluid_layout %>" id="content">
  <% unless @no_heading %>
    <h1><%= @pagetitle %></h1>
  <% end %>

  <% if flash[:notice] %>
    <div class="alert alert-success"><h2><%=h flash[:notice] %></h2></div>
  <% end %>
  <%= yield %>
</div>

</body></html>
